<h2> New Link </h2>
<form method='post' action='/add'>
  <label for='title'>
    Title :
    <input type ="text" name="title"/>
  </label>
  <label for='url'>
    URL :
    <input type ="text" name="url"/>
  </label>
  <input type="submit" value="Add New Link" >
</form>
